body {
    background-color: rgba(0, 0, 0, 0.543);
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
#header-nav {
    background-color: rgb(98, 168, 5);
    border: 0;
    border: 0;
}
.navbar-brand h1 {
   color: white; 
   font-size: 1.5em;
   margin-top: 10px;
   text-shadow: 1px 2px black;
}
@media (max-width: 768) {
    .navbar-brand h1 {
        font-size: 0.5em;
    }
}
.navbar-brand a {
text-decoration: none;
}
#nav-list a {
    color: white;

}
#nav-list a:active, #nav-list a:hover {
    color: rgb(0, 0, 0);

}
.navbar-brand {
    box-sizing: content-box;
    width: 200px;
}

.navbar-header {
    height: 20px;
}
.label {
    color: white;
    font-size: 1.5em;
    margin-bottom: 50px;
    
}
.main {
    margin-top: 50px;
}
#menu-items {
    background-color: aliceblue;
    font-size: 1.5em;
   border: 5px solid rgba(0, 0, 0, 0.518);
    box-shadow: 1px 2px black;
}

.labels {
    background-color: rgb(98, 168, 5);
    padding: 5px;
    border: 2px solid black;
    margin-bottom: 20px;
    width: 100px;
    

}
.row {
    margin-top: 50px;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #000000;
  }
  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
  }